@CHARSET "UTF-8";

.yui-overlay { position:absolute;background:#fff;border:1px dotted black;padding:5px;margin:10px; }

input.right-arrow
{
	position: relative;
	right: 0px;

}
tr.quickbasket_dark
{
	background: #EAF2E4;
}

div.overlay
{
	position: fixed;
	top: 50px;
	margin-left: 260px;
	background-color: #ffffff;
	border: 1px solid #385617;
	padding: 1em 0 1em 0;
	text-align: center;
}
div.overlay span.row-hr
{
	background: #EAF2E4;
	padding: 0.2em 10px;
	border-bottom: solid 1px #375617;
}

div.overlay span.row-td
{
	padding: 0 10px 0 10px;
}

div.overlay span.row-hr, div.overlay span.row-td
{
	float: left;
	clear: left;
	margin: auto 1em auto 1em;
}

div.overlay span.row-hr span, div.overlay span.row-td span
{
	width: 120px;
	text-align: left;
	float: left;
}

div.overlay span.row-hr span
{
	font-weight: bold;
	text-transform: uppercase;
}

div.overlay img
{
	padding: 0;
	margin: 0;
}

div.overlay h3
{
	color: #ffffff;
	line-height: 1em;
	padding: 0.7em 1em 0.3em 1em;
	text-align: left;
}

div.overlay h4
{
	text-align: left;
	padding: 1em 1em 0 1em;
}

div.overlay p
{
	text-align: left;
	padding: 1em 1em 0 1em;
	margin: 0;
}

table.quickorder_products tr td a
{
	text-decoration: underline;
	font-size: 11px;
}

div.xrow-registerbox
{
	border: 1px solid #ebeeef;
	width: 320px;
	float: left;
	display: inline;
	margin:5px;
	padding: 8px;
}

div.xrow-loginbox
{
	clear: both;
	border: 1px solid #ebeeef;
	width: 320px;
	float: left;
	display: inline;
	margin:5px;
	padding: 8px;
}

/* Basket Loginbox */

.order_left
{
	float: left;
}

table.order_box
{
	width: 100%;
	margin-top: 1em;
	margin-bottom: 1em;
	vertical-align: top;
}
table.order_box th
{
	width: 240px;
	padding-bottom: 5px;
	padding-left: 15px;
}
table.order_box td
{
	text-align: left;
	padding-bottom: 5px;
}

div.loginbox_wrap *
{
	float: left;
	margin-left: 4px;
}

div.loginbox
{
	clear: both;
	border: 1px solid #ccc;
	float: right;
	height: auto;
	width: 200px;
	padding: 10px 10px 0 10px;
	margin: 15px 0 35px 0;
	background-color:#ffe;
}

div.loginbox input
{
	border-color: #D3D5D6;
}

div.loginbox p
{
	color: #565969;
	margin-left: 4px;
}

/* Userregister Template */

div.warning p
{
	font-weight: bold;
}

div.coupon
{
	border: 1px solid #d3d5d6;
	padding: 12px;
	margin: 15px 0 15px 0;
}

input.shop_full
{
	width: 580px !important;
}
input.shop_half
{
	width: 270px !important;
}
input.shop_quater
{
	width: 120px !important;
}



div.country
{
	width: 180px;
	display: inline;
	float: left;
}

div.zip
{
	width: 90px;
	display: inline;
	float: left;
}

div.state
{
	width: 90px;
	display: inline;
	float: left;
}

select.state
{
	width: 80px;
	float: left;
}

div.city
{
	width: 200px;
	display: inline;
	float: left;
}

div.ur_lastname
{
	margin-right: 0px;
	width: 290px;
/*	display: inline; */
	float: left;
}

div.ur_firstname
{
	margin-right: 20px;
	width: 290px;
/*	display: inline;*/
	float: left;
}

div.ur_mi
{
	margin-right: 30px;
	width: 35px;
	display: inline;
	float: left;
}
ul#gateways li
{
	list-style: none;
	vertical-align: middle;
}
ul#gateways li *
{
    vertical-align: middle;
}
div.form,
div.billing,
div.shipping,
div.additional-information
{
	margin-top: 15px;
	border: 1px solid #d3d5d6;
	padding: 5px;
	background-color:#ffe;
}

div.billing label,
div.shipping label
{
	font-size: 0.9em;
}

div.class-xrow-commerce div p
{
	margin: 0 10px 1em 0;
}

div.class-xrow-commerce div.height
{
	height: 100%;
}

div.class-xrow-commerce div.attribute-image
{
	border: #c2d5bd solid 1px;
	float: left;
	margin: 0 10px 0 10px;
}

div.class-xrow-commerce table.list
{
	width: 100%;
	float: left;
	margin-right: 10px;
	clear: both;
}

div.class-xrow-commerce div.attribute-short
{

	padding: 0 0 10px 0;
	clear: left;
	width: 300px;
}

div.class-xrow-commerce div.attribute-short-wide
{
	width: 790px;
	float: left;
	padding: 10px 0 10px 0;
	clear: both;
}

div.class-xrow-commerce div.attribute-long
{
	float: left;
	clear: left;
	width: 300px;
}

div.class-xrow-commerce div.attribute-price
{
	float: left;
	clear: left;
	width: 300px !important;
}

div.class-xrow-commerce div.attribute-price *
	{
	float: left;
	clear: left;
	}

div.image-description-wrap 
	{
	float: left;
	width: 790px;
	}

.productwrapper
{
	width: 790px;
	clear: both;
	float: left;
}

div.description-wrap
	{
	width: 300px !important;
	float: left;
	}

div.class-xrow-commerce h1
{
	padding: 10px 10px 1em 10px;
	font-size: 12px;
}
div.class-xrow-commerce h4
{
	width: 300px;
	float: right;	
}


.align_right
{
	text-align: right !important;
}

/* Order Tables */


table.order tr td
{
	padding-left: 5px;
	padding-right: 5px;

	border: 0;
	vertical-align: top;
	text-align: left;
}

table.order tr th
{
	padding: 2px 5px 0px 5px;
	color: #fff;
	border: 0;
	vertical-align: top;
	text-align: center;
}

table.order tr td span
{
	color: #3366CC;
	border: 0;
	vertical-align: top;
	text-align: left;
	float: left;
/*	padding-right: 0px important!; */
}

table.order
{
	border-spacing: 0px;
	border-collapse: collapse;
/*	margin-top: 1em; */
	width: 100%;
}

table.order caption
{
	margin-bottom: 1em; 
}

table.order tr.lightbg th
{
	background-color: #369;
	height:22px;

}
input.quantity
{
	border: 1px solid #d3d5d6; 
	padding: 2px; 
	text-align: right;
}

input.shopping_cart_checkbox,
input.cos,
input.no_partial_delivery,
input.shipping-checkbox
{
	border:0px;
}

table.order tr.product-line td
{
	border-top: solid 1px #E0E0E0;
	padding-top: 5px;
	padding-bottom: 5px;
}
table.order tr.line td,
table.order tr td.line,
table.order tr.tax-line td,
table.order tr.orderitem-line td
{
	padding-top: 5px;
	padding-bottom: 5px;
}

table.order tr.subtotal-line td
{
	border-top: solid 1px #E0E0E0;
	padding-top: 10px;
	padding-bottom: 5px; 
}
table.order tr.grandtotal-line td
{
	border-top: double 4px #E0E0E0;
	padding-top: 10px;
	padding-bottom: 10px;
}
table.order tr.bgdark
{
	background-color:#fff;
}

/* Buttons */
div.buttonblock, div.linkbuttonblock
{
	margin-bottom: 1em;
}
div.shop-payment input#cancel-button
{
    float: left;
}
div.shop-payment input#continue-button
{
	float: right;
}
div.linkbuttonblock,
div.shop-payment div.buttonblock
{
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	padding:5px 0px 5px 0px;
}

/* Navigation bar */
div.shopping_cart_path
{
	width: 100%;
	color: #fff;
	font-size: 0.9em;
	font-weight: bold;
	background: url("/extension/mobotix/design/mobotix/images/shop/shopstatus.gif") repeat 0px 0px;
	background-color: #369;
	float: left;
	margin-bottom: 10px; 
	padding-left: 5px;
	height:20px;
}

div.shopping_cart_path div
{
	float: left;
	padding-right: 1.5em;
	padding-top:3px;
}

div.shopping_cart_path_select
{
	float: left;
	color: #e00;
}
div.buttonblock, div.linkbuttonblock
{
	clear:both;
	margin-top: 1em;
}

div.product-cell div.product-image
{
	float: left;
	margin-right: 5px;
}
p.product-id,
p.product-link,
p.product-description
{
	margin-left: 80px;

}
div.shop div.block
{
	margin-right: 1em;
	margin-bottom:0;
}
table.order tr td.price,
table.order tr td.totalprice
{
	white-space:nowrap;
	text-align: right;
	padding-right:5px;
}
table.order tr td.position
{
	text-align: center;
}

table.order tr td.quantity
{
	text-align: right;
}
table.order tr.grandtotal-line td.totalprice
{
	font-weight: bold;
}
table.order tr td.delete
{
	white-space:nowrap;
	text-align: center;
}
table.order tr td.delete input
{
	margin: 0;
}

input.orangebutton,
input#checkout-button,
input#continue-button,
input#print-button
{
	margin:0;
	font-size: 1em;
	font-weight: bold;
	color: #ffffff;
	border: 1px solid #ffffff;
	border-bottom: 1px solid #ff6500;
	border-right: 1px solid #ff6500;
	background-color: #ff6500;
	background-image: url(../images/orangebutton-enabled-bg.gif);
	background-repeat: repeat-x;
	background-position: top;
	padding: 2px 5px;
	margin: 2px 0em 2px 0px;
}

input.linkbutton,
input#delete-button,
input#empty-cart-button,
input#store-button
{
	background-image:none;
	background-color:#eee;
	color:#888;
	margin:0;
	font-weight: bold;
	border-bottom: 1px solid #aaa;
	border-right: 1px solid #aaa;
	padding:0px 2px;
	font-size:0.9em !important;
	width:190px;
}

input#delete-button-icon
{
	text-decoration:none;
	background-color: #369;
	border: 0px;
	margin: 0px;
	padding: 0px;
}

input.linkbutton2
{
	font-size: 0.7em !important;
	font-weight: bold;
	background-color: #ccc;
	background-image: none;
	border: 1px solid #369;
	color: #369;
 }
table#configurator *
{
	margin: 0;
	padding: 0;
}
div.shop-confirmorder div#buttonblock-top
{
	display: none;
}
input.hide,
button.hide
{
	display: none;
}
cos-content-label
{
	margin-top: 2em;
}
div#cos-content
{ 
	padding:5px;
	height: 300px;
	overflow-y:scroll;
	margin-top: 1em;
	margin-bottom: 2em; 
	border:1px solid #ddd;
	background-color:#eee;
} 

div.left-link-button
{
	float: left;
}

div.middle-link-button
{
	float: left;
	text-align: center;
	width:100%;
}

div.right-link-button
{
	float:right;
}

div.left-button
{
	float:left;
}

div.right-button
{
	float:right;
}

div.configurator select, select.product-options
{
	width:320px;
}

div.configurator table.list tr td
{
	border-bottom:1px solid #ccc;
}

div.configurator table.list
{
	border-collapse:collapse;
}