.warning
{
    color: red;
}

.xrowproductstring
{
    width: 100px;
}

.xrowproducttext
{
    width: 100px;
    height: 30px;
}

.xrowproducttextcolumn
{
    width: 100%;
    height: 30px;
}

.xrowproductnumber
{
    width: 40px;
}

.xrowproductprice
{
    width: 50px;
}

.xrowproductpriceamout
{
    width: 30px;
}

td.error
{
    padding-top: 1px;
    border: 1px solid red !important;
}

.nowrap
{
    white-space: nowrap;
}

.directorder
{
    width: 100%;
    border: 1px solid #00426a;
    border-collapse: collapse;
}

.directorder th
{
    color: #015197;
    background-color: #daebf7;
    padding: 5px;
    text-align: center;
    border: 1px solid #00426a;
}

.directorder td
{
    background-color: #ffffff;
    padding: 3px;
    border: 1px solid #00426a;
}

.directorder td.sku
{
    width: 65px;
    text-align: center;
}

.directorder td.sku input.sku
{
    width: 60px;
}

.directorder td.amount
{
    width: 45px;
    text-align: center;
}

.directorder td.amount input.amount
{
    width: 40px;
}

.directorder td.description
{
    width: 65%;
}

.directorder td.delete
{
    width: 80px;
    text-align: center;
}

.error
{
    color: red;
}